.wbdv-register {
  max-width: 400px;
  width: 100%;
}

.wbdv-already-logged-in {
  width: fit-content;
}

.wbdv-logged-in-links {
  padding: 0.25rem;
  font-size: x-large;
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
}

.wbdv-register-input-row {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.wbdv-register-input-label {
  margin-bottom: 0;
  min-width: 150px;
  font-weight: 500;
}

.wbdv-register-input {
  flex-basis: 15rem;
}

.wbdv-register-buttons {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}

.wbdv-register-button {
  padding: 0.25rem 0.75rem;
  flex-basis: 8rem;
}

@media screen and (max-width: 485px) {
  .wbdv-register-button {
    flex-basis: 15rem;
  }

  .wbdv-register-buttons,
  .wbdv-register-input-row {
    flex-wrap: wrap;
  }
}