.wbdv-search {
  width: 770px;
}

.wbdv-three-column-container {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
}

.wbdv-user-column {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: left;
}

.wbdv-user-column:nth-child(2) {
  padding: 0 1rem;
}

.wbdv-scroll-column {
  overflow: auto;
  max-height: 400px;
}

.wbdv-user-row {
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  padding: 0.5rem 1rem;
  overflow: hidden;
  margin: 0.25rem 0;
  min-height: fit-content;
}

.wbdv-selected-user {
  background-color: var(--lighter-green);
  border-color: var(--light-green);
}

.wbdv-search-btn-chunk {
  text-align: center;
  margin: 1rem;
}

.wbdv-search-btn {

}

.wbdv-search-btn:hover {
  text-decoration: none;
}

.wbdv-disabled-btn {
  border: 1px solid lightgray;
  color: darkgray;
}

.wbdv-disabled-btn:hover {
  color: darkgray;
}

@media screen and (max-width: 864px) {
  .wbdv-search {
    max-width: 520px;
  }
}

@media screen and (max-width: 584px) {
  .wbdv-search {
    max-width: 230px;
  }

  .wbdv-user-column:nth-child(1) {
    padding: 0;
  }

  .wbdv-user-column:nth-child(2) {
    padding: 0;
  }
}