.wbdv-details-form {
  max-width: 400px;
}
.wbdv-details-form-row {
  padding: 0.5rem;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.wbdv-schedule-meeting-btn {
  color: var(--link-green);
}

.wbdv-schedule-meeting-btn:hover {
  text-decoration: underline var(--link-green);
}

.wbdv-schedule-meeting-btn:focus {
  outline: none;
}